
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


:root {
    font-size: 18px;

    --clr-text: white;
    --clr-primary: #1E5CD9;
    --clr-accent: #684f60;

    --ff-title: 'Source Serif Pro', serif; 
    --ff-sans: 'Source Sans Pro', sans-serif;
    --ff-test: 'Rubik', sans-serif;
}

// Utility classes

.container {
    //border: 1px solid red;
    display: flex;
    margin-inline: auto;
    width: min(70%, 70.5rem);
    flex-direction: column;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center-text {
    text-align: center !important;
}

.fancy-font {
    font-family: var(--ff-title);
}

.bborder {
    border: 2px solid blue;
}

//

* {

    ::before, ::after {
        box-sizing: inherit;
    }
}

.app {
    box-sizing: border-box;
    font-family: var(--ff-test) !important;
    color: var(--clr-text);
}

.hero {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./Pictures/S01_1047.jpeg);
    background-position: center center;
    background-size: cover;
}

// landing
.landing {
    height: 95vh;
    margin-top: 10vh;
}

.landing-text {
    justify-content: flex-start;
    h1 {
        font-size: 7rem;
        font-family: var(--ff-title);
    }
    h4 {
        font-size: 2rem;
    }
}

.landing-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;

    Button {
        width: 10rem;
        height: 3.5rem;
        outline: none;
        border: none;
        &:hover {
            box-shadow: 0px 0px 10px rgba(130, 109, 87, 1);
        }
        &:active, &:focus {
            box-shadow: none !important;
            outline: none !important;
            border: none !important;
        }
    }
    .btn1 {
        background-color: rgba(130, 109, 87, 0.9);
        margin-right: 1vw;
        &:hover {
            background-color: rgba(130, 109, 87, 1);
        }
    }
    .btn2 {
        background-color: rgba(130, 109, 87, 0.75);
        &:hover {
            background-color: rgba(130, 109, 87, 1);
        }
    }
}

// about
.about {
    //margin-top: 15vh;
    color: #121212;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    h1 {
        font-size: 3rem;
    }
    p, li {
        color: #333333;
    }
    li {
        font-size: 1.15rem;
    }
    .benefits {
        background-color: #dddddd;
        padding: 20% 10% 0 10%;
        //box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .col1 {
            width: 70%;
        }
        .col2 {
            width: 30%;
            align-items: center;
        }
        .benefits-img {
            width: 100%;
            height: 100%;
        }
    }
    .what-is-it {
        background-color: #dddddd;
        padding: 20% 5% 0 5%;
        border-radius: 0px;
        //box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h1, h3 {
            width: 100%;
        }
        h2 {
            font-size: 2rem;
        }
        .header-text {
            font-size: 5rem;
            margin-bottom: 5vh;
        }
        .applications-list {
            margin-left: auto;
            width: 70%;
        }
        .col1, .col2 {
            padding: 5%;
        }
        .col1 {
            width: 60%;
        }
        .col2 {
            width: 40%;
        }
    }
    .our-goal {
        padding: 20% 10% 20% 10%;
        h1 {
            font-size: 4rem;
        }
    }
}

// Media queries

//@media only screen and (max-width: 50rem) {
@media only screen and (max-width: 55rem) {
    .container {
        width: min(90%, 70.5rem);
    }

    // landing
    .landing {
        margin-top: 5vh !important;
    }
    .landing-text {
        text-align: center;
        h1 {
            font-size: 5rem !important;
        }
        h4 {
            font-size: 1.25rem !important;
        }
    }
    .landing-btns > Button {
        width: 100%;
        height: 4rem;
    }
    .btn1 {
        margin-bottom: 2vh;
        margin-right: 0 !important;
    }
    .nav-link {
        font-size: 1.5rem;
    }

    // about
    .about {
        h1 {
            text-align: center;
            font-size: 2.5rem;
        }
        li {
            font-size: 1rem;
        }
        .benefits {
            .col1 {
                width: 100%;
            }
            .col2 {
                width: 100%;
            }
        }
        .what-is-it {
            .header-text {
                font-size: 3rem;
            }
            .applications-list {
                width: 80%;
            }
            .col1 {
                width: 100%;
            }
            .col2 {
                width: 100%;
            }
        }
    }
}